.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

body {
  background-color: #f9f9f9;
}

h1, h4 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.menus-container {
  margin-top: 18px;
  min-height: 80vh; /* full height of viewport */
  display: flex;
  flex-direction: column;
}

.menus-list {
  border: 1px solid #dee2e6;
  border-radius: 6px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
  overflow: hidden;
}

.list-group-item {
  font-weight: 500;
  font-size: 1rem;
  color: #333;
  /* transition: background-color 0.2s ease-in-out; */
  height: 10vh;
  /* gap: 16px;
  padding: 0 1rem; */
}

.list-group-item:hover {
  background-color: #f0f0f0;
  color: #007bff;
}



.sidebar {
  background-color: #82b7ed;
   /* light gray */
  height: 100vh; /* adjust for header height */
  padding-top: 50px;
  /* border-right: 1px solid #ddd; */
}

.content {
  /* padding-top: 10px; */
  height: 100vh;
  background-color:#82b7ed;
  /* background-color: rgb(19, 129, 188); */
  /* overflow-y: auto; */
  padding-top: 25px;
  
}



.sidebar-container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  min-height: 80vh;
  margin-top: 1rem;
}

.sidebar-container .menu-item:hover {
  background-color: #f3b239;
  color: #007bff;
}

.card {
  border-radius: 10px;
}

.add-course-card {
  max-width: 800px;
  margin: 2rem auto;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.menu-header {
  font-weight: 600;
  margin-bottom: 70px;
  color: #2c3e50;
  background-color: #18c2ae;
  padding: 40px;
}

.menu-item {
  font-size: 1.1rem;
  padding: 12px;
  border: none;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

/* .menu-item:hover {
  background-color: #f1f1f1;
  color: #007bff;
  cursor: pointer;
} */



.about-card {
  background-color: #f9f9f9;
  border-radius: 12px;
  padding: 20px;
}

.about-body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.about-title {
  color: #2c3e50;
  font-weight: bold;
  margin-bottom: 20px;
 text-align: center;
  
}

.about-text {
  font-size: 1rem;
  color: #34495e;
  margin-bottom: 16px;
}

.about-subheading {
  color: #007bff;
  margin-top: 20px;
}

.about-list {
  margin-left: 20px;
  color: #555;
}

.about-link {
  color: #007bff;
  text-decoration: none;
  transition: color 0.3s;
}

.about-link:hover {
  color: #0056b3;
  text-decoration: underline;
}